:root {
  --brand-color: #2196f3;
  --first-color: #ffffff;
  --second-color: #757575;
  --third-color: #212121;
  --icon-color: #afb1b8;
  --bg-color: #f5f4fa;
  --btn-hover: #188ce8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--third-color);
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.03em;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--second-color);
  outline: 1px solid var(--second-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--brand-color);
}

.title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}

button {
  cursor: pointer;
}

.btn {
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--first-color);
  width: 200px;
  height: 50px;
  border: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background: var(--btn-hover);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 666ms 250ms, visibility 666ms 250ms;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition-property: transform babackground;
  transition-duration: 500ms;
  transition-delay: 250ms;
}

.modal_size {
  padding: 40px;
  width: 528px;
  min-height: 581px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -250%) scale(0.3) rotate(90deg);
  background: var(--brand-color);
}

.modal__btn {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--third-color);
}

.modal__btn:hover, .modal__btn:focus {
  color: var(--brand-color);
}

.modal__icon-close {
  height: 18px;
  width: 18px;
  fill: currentColor;
}

.modal__title {
  font-weight: bold;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  color: var(--third-color);
  margin-bottom: 12px;
}

.form__box {
  position: relative;
}

.form__input, .form__textarea {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
  color: var(--third-color);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input {
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
}

.form__input:focus, .form__input:hover {
  border-color: var(--brand-color);
}

.form__textarea {
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
}

.form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::-webkit-scrollbar {
  width: 10px;
}

.form__textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
}

.form__textarea::-webkit-scrollbar-thumb {
  background-color: var(--brand-color);
  outline: 1px solid var(--second-color);
}

.form__textarea:focus, .form__textarea:hover {
  border-color: var(--brand-color);
}

.form__name {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--second-color);
  display: block;
  margin-bottom: 4px;
}

.form__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 15px;
  top: 28px;
  fill: var(--third-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + .form__icon,
.form__input:hover + .form__icon {
  fill: var(--brand-color);
}

.form__btn-box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.checkbox__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.checkbox__span {
  border: 2px solid var(--third-color);
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__icon {
  fill: transparent;
  width: 16px;
  height: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox__text .checkbox__span {
  border: none;
  background-color: var(--brand-color);
}

.checkbox:checked + .checkbox__text .checkbox__icon {
  fill: var(--first-color);
}

.checkbox__link {
  color: var(--brand-color);
  margin-left: 5px;
  text-decoration: underline;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
}

.header__span {
  color: var(--third-color);
}

.header__address {
  display: flex;
  align-items: center;
}

.header__contact {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--second-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contact_size {
  padding: 32px 25px;
}

.header__contact_size:last-child {
  padding: 32px 0 32px 25px;
}

.header__contact:focus, .header__contact:hover {
  color: var(--brand-color);
}

.header__icon {
  fill: currentColor;
  margin-right: 10px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__logo_size {
  padding: 24px 78px 24px 0;
}

.nav__list {
  display: flex;
}

.nav__link {
  color: inherit;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:focus, .nav__link:hover {
  color: var(--brand-color);
}

.nav__link_size {
  padding: 32px 25px;
}

.current {
  position: relative;
  color: var(--brand-color);
}

.current::after {
  content: '';
  position: absolute;
  background: var(--brand-color);
  left: 25px;
  bottom: 0;
  border-radius: 2px;
}

.current_size::after {
  height: 4px;
  width: calc(100% - 50px);
}

.footer {
  background: #2f303a;
}

.footer__wrap {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.footer__span {
  color: var(--first-color);
}

.address__wrap {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
  width: 231px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__item:first-child {
  margin-top: 20px;
}

.address__link {
  font-family: inherit;
  font-style: normal;
  line-height: calc(24 / 14);
  color: var(--first-color);
}

.address__contact {
  font-family: Roboto;
  font-style: normal;
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
}

.social__title {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--first-color);
}

.social__title_m_bottom {
  margin-bottom: 20px;
}

.social__list {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link:hover, .social__link:focus {
  background-color: var(--brand-color);
}

.social__box {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__icon {
  height: 20px;
  width: 20px;
  fill: var(--first-color);
}

.subscription {
  margin-left: 93px;
}

.subscription__title {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--first-color);
  margin-bottom: 20px;
}

.subscription__form {
  display: flex;
}

.subscription__input {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  background: #2f303a;
  border-radius: 4px;
  margin-right: 12px;
  width: 358px;
  color: var(--first-color);
  outline: none;
  padding: 15px 16px;
}

.subscription__btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscription__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.hero {
  background-color: #e5e5e5;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.hero__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-color);
  width: 700px;
  height: 120px;
  margin-bottom: 30px;
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 94px;
  margin-left: -30px;
  padding-bottom: 94px;
}

.benefits__box {
  height: 120px;
  background-color: var(--bg-color);
  border-radius: 4px;
  flex-basis: calc(100% / 4 - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__item {
  margin-left: 30px;
  flex-basis: calc(100% / 4 - 30px);
}

.benefits__title {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits__text {
  line-height: calc(24 / 14);
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.about__text {
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  color: var(--first-color);
  background: rgba(47, 48, 58, 0.8);
  padding: 27px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.about__item {
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 50px;
  margin-bottom: 94px;
  position: relative;
  height: 294px;
}

.team {
  background: var(--bg-color);
}

.team__wrap {
  padding: 94px 15px;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--second-color);
}

.team__item {
  background: var(--first-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc(100% / 4 - 30px);
  margin-top: 50px;
  margin-left: 30px;
}

.team__box {
  margin-top: 30px;
  margin-bottom: 16px;
}

.team__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  background: var(--first-color);
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  color: var(--first-color);
  background-color: var(--brand-color);
}

.social-list__box {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: inherit;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list__icon {
  height: 20px;
  width: 20px;
  fill: currentColor;
}

.clients__wrap {
  padding: 94px 15px;
}

.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.clients__box {
  height: 92px;
  width: 170px;
  border: 1px solid currentColor;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:focus, .clients__link:hover {
  color: var(--brand-color);
}

.clients__icon {
  height: 160px;
  width: 160px;
  fill: currentColor;
}

.search__list {
  display: flex;
  padding: 94px 0 50px 0;
  justify-content: center;
}

.search__item:not(:last-child) {
  margin-right: 8px;
}

.search__btn {
  background: var(--bg-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  border: none;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search__btn:hover, .search__btn:focus {
  background: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--first-color);
}

.product__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding-bottom: 94px;
}

.product__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.product__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__link:hover, .product__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product__box {
  box-shadow: inherit;
}

.product__text {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  box-sizing: content-box;
  padding: 20px 24px 19px 24px;
}

.product__title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--third-color);
}

.product__post-title {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--second-color);
}

.description {
  position: relative;
  overflow: hidden;
}

.description__box {
  position: absolute;
  top: 0;
  padding: 24px 24px;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(33, 150, 243, 0.9);
  display: flex;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__link:hover .description__box {
  transform: translateY(0);
}

.description__box::-webkit-scrollbar {
  width: 10px;
}

.description__box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
}

.description__box::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: var(--btn-hover);
  outline: 1px solid var(--second-color);
}

.description__text {
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--first-color);
}
/*# sourceMappingURL=main.css.map */