p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
}

body::-webkit-scrollbar-thumb {
  background-color: #757575;
  outline: 1px solid #757575;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 480px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  color: #2196f3;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

button {
  cursor: pointer;
}

.btn {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background: #188ce8;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 666ms 250ms, visibility 666ms 250ms;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition-property: transform babackground;
  transition-duration: 500ms;
  transition-delay: 250ms;
}

.modal_size {
  padding: 40px;
}

@media screen and (max-width: 1199px) {
  .modal_size {
    min-width: 320px;
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal_size {
    width: 528px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -250%) scale(0.3) rotate(90deg);
  background: #2196f3;
}

.modal__btn {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover, .modal__btn:focus {
  color: #2196f3;
}

.modal__icon-close {
  height: 18px;
  width: 18px;
  fill: currentColor;
}

.modal__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .modal__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

.form__box {
  position: relative;
}

.form__input, .form__textarea {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #212121;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input {
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
}

.form__input:focus, .form__input:hover {
  border-color: #2196f3;
}

.form__textarea {
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
}

.form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::-webkit-scrollbar {
  width: 10px;
}

.form__textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
}

.form__textarea::-webkit-scrollbar-thumb {
  background-color: #2196f3;
  outline: 1px solid #757575;
}

.form__textarea:focus, .form__textarea:hover {
  border-color: #2196f3;
}

.form__name {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 4px;
}

.form__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 15px;
  top: 28px;
  fill: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + .form__icon,
.form__input:hover + .form__icon {
  fill: #2196f3;
}

.form__btn-box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.checkbox__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .checkbox__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.checkbox__span {
  border: 2px solid #212121;
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__icon {
  fill: transparent;
  width: 16px;
  height: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox__text .checkbox__span {
  border: none;
  background-color: #2196f3;
}

.checkbox:checked + .checkbox__text .checkbox__icon {
  fill: #ffffff;
}

.checkbox__link {
  color: #2196f3;
  margin-left: 5px;
  text-decoration: underline;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__wrap {
  min-width: 320px;
  min-width: 480px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.header__span {
  color: #212121;
}

.header__address {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__address {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .header__address {
    padding: 0;
    flex-direction: row;
    align-items: center;
  }
}

.header__contact {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .header__contact {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.header__contact_size {
  padding: 5px 0;
}

@media screen and (min-width: 1200px) {
  .header__contact_size {
    padding: 32px 25px;
  }
}

@media screen and (min-width: 1200px) {
  .header__contact_size:last-child {
    padding: 32px 0 32px 25px;
  }
}

.header__contact:focus, .header__contact:hover {
  color: #2196f3;
}

.header__icon {
  fill: currentColor;
  margin-right: 8px;
}

@media screen and (min-width: 1200px) {
  .header__icon {
    margin-right: 10px;
  }
}

.header__icon_mail {
  width: 14px;
  height: 10px;
}

@media screen and (min-width: 1200px) {
  .header__icon_mail {
    width: 16px;
    height: 12px;
  }
}

.header__icon_tel {
  width: 10px;
  height: 14px;
}

@media screen and (min-width: 1200px) {
  .header__icon_tel {
    height: 16px;
  }
}

@media screen and (max-width: 767px) {
  .header__btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__btn:hover, .header__btn:focus {
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .header__btn {
    display: none;
  }
}

.header__btn__icon-open {
  fill: currentColor;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__logo_size {
  padding: 16px 30px 16px 0;
}

@media screen and (min-width: 768px) {
  .nav__logo_size {
    padding: 26px 63px 26px 0;
  }
}

@media screen and (min-width: 1200px) {
  .nav__logo_size {
    padding: 24px 78px 24px 0;
  }
}

.nav__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
  }
}

.nav__link {
  color: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:focus, .nav__link:hover {
  color: #2196f3;
}

.nav__link_size {
  padding: 32px 25px;
}

.current {
  position: relative;
  color: #2196f3;
}

.current::after {
  content: '';
  position: absolute;
  background: #2196f3;
  left: 25px;
  bottom: 0;
  border-radius: 2px;
}

.current_size::after {
  height: 4px;
  width: calc(100% - 50px);
}

.mob-menu {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  position: fixed;
  top: 0;
}

@media screen and (max-width: 767px) {
  .mob-menu__wrap {
    width: 480px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu__btn {
  margin-left: auto;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #ffffff;
  border: none;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__btn:hover, .mob-menu__btn:focus {
  color: #2196f3;
}

.mob-menu__icon-close {
  fill: currentColor;
  width: 40px;
  height: 40px;
}

.mob-nav {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-nav__item {
  margin-bottom: 32px;
  margin-left: 25px;
}

.mob-nav__link:hover, .mob-nav__link:focus {
  color: #2196f3;
}

.address-mob {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.address-mob__item {
  margin-bottom: 32px;
  margin-left: 25px;
}

.address-mob__item_top {
  color: #2196f3;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.address-mob__item_bottom {
  margin-bottom: 64px;
}

.social-mob {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  display: flex;
  margin-left: 15px;
  padding-bottom: 48px;
}

.social-mob__item:not(:last-child) {
  border-right: 1px solid #757575;
}

.social-mob__link {
  padding: 0 10px;
}

.footer {
  background: #2f303a;
}

.footer__wrap {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.footer__wrap_top {
  display: flex;
  flex-direction: column-reverse;
}

@media screen and (min-width: 768px) {
  .footer__wrap_top {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1200px) {
  .footer__wrap {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
  }
}

.address__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .address__wrap {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .address__wrap {
    margin-right: 70px;
    width: 231px;
    display: block;
  }
}

.address__span {
  color: #ffffff;
}

.address__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .address__list {
    display: block;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__item:first-child {
  margin-top: 20px;
}

.address__link {
  font-family: inherit;
  font-style: normal;
  color: #ffffff;
}

.address__contact {
  font-family: Roboto;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.social {
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .social {
    padding-bottom: 0;
    margin-top: 12px;
  }
}

.social__title {
  text-align: center;
  font-size: 14px;
  line-height: 1.14286;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .social__title {
    text-align: left;
  }
}

.social__title_m_bottom {
  margin-bottom: 20px;
}

.social__list {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social__link:hover, .social__link:focus {
  background-color: #2196f3;
}

.social__box {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__icon {
  height: 20px;
  width: 20px;
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .subscription {
    margin-top: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription {
    margin-left: 93px;
  }
}

.subscription__title {
  text-align: center;
  font-size: 14px;
  line-height: 1.14286;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .subscription__title {
    text-align: left;
  }
}

.subscription__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .subscription__form {
    flex-direction: row;
  }
}

.subscription__input {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  background: transparent;
  border-radius: 4px;
  color: #ffffff;
  outline: none;
  padding: 15px 16px;
  width: 450px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .subscription__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.subscription__btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscription__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.hero {
  background-color: #e5e5e5;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg/hero-bg_mob.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  min-width: 480px;
  max-width: 480px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg/hero-bg_mob_x2.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg/hero-bg_tab.jpg");
    min-width: 768px;
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg/hero-bg_tab_x2.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg/hero-bg.jpg");
    min-width: 1200px;
    max-width: 1600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg/hero-bg_x2.jpg");
  }
}

.hero__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .hero__wrap {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  width: 360px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    width: 696px;
  }
}

.benefits__list {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits__list {
    margin-top: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__list {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits__box {
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .benefits__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__item {
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits__item {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .benefits__title {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.about__text {
  line-height: 1.14286;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.about__item {
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 50px;
  margin-bottom: 94px;
  position: relative;
  height: 294px;
}

.team {
  background: #f5f4fa;
}

.team__wrap {
  padding: 60px 15px;
}

@media screen and (min-width: 1200px) {
  .team__wrap {
    padding: 94px 15px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-top: 50px;
  }
}

.team__name {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__box {
  margin-top: 30px;
  margin-bottom: 16px;
}

.team__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  background: #ffffff;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social-list__box {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: inherit;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list__icon {
  height: 20px;
  width: 20px;
  fill: currentColor;
}

.clients__wrap {
  padding: 60px 15px;
}

@media screen and (min-width: 1200px) {
  .clients__wrap {
    padding: 94px 15px;
  }
}

.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: -30px;
}

.clients__item {
  margin-top: 30px;
  margin-right: 30px;
  flex-basis: calc(100% / 2 - 30px);
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    margin-top: 50px;
    flex-basis: calc(100% / 6 - 30px);
  }
}

.clients__box {
  height: 92px;
  border: 1px solid currentColor;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__link {
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:focus, .clients__link:hover {
  color: #2196f3;
}

.clients__icon {
  height: 160px;
  width: 160px;
  fill: currentColor;
}

.search {
  padding: 60px 15px 40px 15px;
}

@media screen and (min-width: 768px) {
  .search {
    padding: 60px 15px 30px 15px;
  }
}

@media screen and (min-width: 1200px) {
  .search {
    padding: 94px 15px 50px 15px;
  }
}

.search__list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .search__list {
    justify-content: center;
  }
}

.search__item:not(:last-child) {
  margin-right: 8px;
}

.search__btn {
  background: #f5f4fa;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search__btn:hover, .search__btn:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
}

.product {
  padding-bottom: 94px;
}

.product__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.product__item {
  flex-basis: 100%;
  margin-top: 30px;
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .product__item {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .product__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.product__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__link:hover, .product__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product__box {
  box-shadow: inherit;
}

.product__text {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  box-sizing: content-box;
  padding: 20px 24px 19px 24px;
}

.product__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: #212121;
}

.product__post-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.description {
  position: relative;
  overflow: hidden;
}

.description__box {
  position: absolute;
  top: 0;
  padding: 24px 24px;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(33, 150, 243, 0.9);
  display: flex;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__link:hover .description__box {
  transform: translateY(0);
}

.description__box::-webkit-scrollbar {
  width: 10px;
}

.description__box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
}

.description__box::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: var(--btn-hover);
  outline: 1px solid #757575;
}

.description__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */