.footer {
  background: #2f303a;
  &__wrap {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    &_top {
      display: flex;
      flex-direction: column-reverse;
      @include tab {
        flex-direction: row-reverse;
        justify-content: flex-end;
      }
    }
    @include desk {
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: flex-start;
    }
  }
}

.address {
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
    @include tab {
      margin-right: 165px;
    }
    @include desk {
      margin-right: 70px;
      width: 231px;
      display: block;
    }
  }
  &__span {
    color: getColor('white');
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include desk {
      display: block;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 8px;
      @include desk {
        margin-bottom: 9px;
      }
    }
    &:first-child {
      margin-top: 20px;
    }
  }
  &__link {
    font-family: inherit;
    font-style: normal;
    color: getColor('white');
  }
  &__contact {
    font-family: Roboto;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
  }
}

.social {
  padding-bottom: 60px;
  @include desk {
    padding-bottom: 0;
    margin-top: 12px;
  }
  &__title {
    text-align: center;
    font-size: 14px;
    line-height: (16 / 14);
    text-transform: uppercase;
    color: getColor('white');
    @include desk {
      text-align: left;
    }
    &_m_bottom {
      margin-bottom: 20px;
    }
  }
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  &__link {
    background-color: rgba(255, 255, 255, 0.1);
    &:hover,
    &:focus {
      background-color: getColor('brand');
    }
  }
  &__box {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    height: 20px;
    width: 20px;
    fill: getColor('white');
  }
}

.subscription {
  @include desk {
    margin-top: 12px;
  }
  @include desk {
    margin-left: 93px;
  }
  &__title {
    text-align: center;
    font-size: 14px;
    line-height: (16 / 14);
    text-transform: uppercase;
    color: getColor('white');
    margin-bottom: 20px;
    @include desk {
      text-align: left;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desk {
      flex-direction: row;
    }
  }
  &__input {
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    background: transparent;
    border-radius: 4px;
    color: getColor('white');
    outline: none;
    padding: 15px 16px;
    width: 450px;
    margin-bottom: 20px;
    @include desk {
      width: 358px;
      margin-right: 12px;
      margin-bottom: 0;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
}
