.footer {
  background: #2f303a;
  &__wrap {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  &__span {
    color: getColor('white');
  }
}

.address {
  &__wrap {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
    width: 231px;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
    &:first-child {
      margin-top: 20px;
    }
  }
  &__link {
    font-family: inherit;
    font-style: normal;
    color: getColor('white');
  }
  &__contact {
    font-family: Roboto;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
  }
}

.social {
  &__title {
    font-size: 14px;
    line-height: (16 / 14);
    text-transform: uppercase;
    color: getColor('white');
    &_m_bottom {
      margin-bottom: 20px;
    }
  }
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  &__link {
    &:hover,
    &:focus {
      background-color: getColor('brand');
    }
  }
  &__box {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    height: 20px;
    width: 20px;
    fill: getColor('white');
  }
}

.subscription {
  margin-left: 93px;
  &__title {
    font-size: 14px;
    line-height: (16 / 14);
    text-transform: uppercase;
    color: getColor('white');
    margin-bottom: 20px;
  }
  &__form {
    display: flex;
  }
  &__input {
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    background: transparent;
    border-radius: 4px;
    margin-right: 12px;
    width: 358px;
    color: getColor('white');
    outline: none;
    padding: 15px 16px;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
}
