.benefits {
  &__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 94px;
    margin-left: -30px;
    padding-bottom: 94px;
  }
  &__box {
    height: 120px;
    background-color: getColor('bg');
    border-radius: 4px;
    flex-basis: calc(100% / 4 - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  &__icon {
    width: 70px;
    height: 70px;
  }
  &__item {
    margin-left: 30px;
    flex-basis: calc(100% / 4 - 30px);
  }
  &__title {
    @include font(14px, 700, 1.14, 00.03em);
    text-transform: uppercase;
    margin-bottom: 10px;
    color: getColor('black');
  }
}
