.clients {
  &__wrap {
    padding: 94px 15px;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  &__box {
    height: 92px;
    width: 170px;
    border: 1px solid currentColor;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__link {
    color: getColor('icon');
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      color: getColor('brand');
    }
  }
  &__icon {
    height: 160px;
    width: 160px;
    fill: currentColor;
  }
}
